<% id=session[:user_id] %>
<%= form_tag changepassword_update_user_path(id) do %>

    <div>
      <%= label_tag :oldpassword %>
      <%= password_field_tag :oldpassword %>
    </div>
    <div>
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>
    <div>
      <%= label_tag :password_confirmation %>
      <%= password_field_tag :password_confirmation %>
    </div>



    <%= submit_tag %>



<% end %>