<%= form_for @post, html: {multipart: true} do |p| %>
    <div>
      <%= p.label :title %>
      <%= p.text_field :title %>
    </div>

    <div>
      <%= p.label :body %>
      <%= p.text_area :body %>
    </div>

    <div>
      <%= p.collection_select(:category_id, Category.all, :id, :name) %>
    </div>

    <div>
      <%= p.file_field :image %>

    </div>

    <%= p.submit %>

<% end %>

